<h1>Send ATIP requests to departments by physical mail, online!</h1>
<p>We lower the barrier for journalists trying request documents from governmental bodies that have not (or refuse to) automate the ATIP process online.</p>
